{
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"trailingComma": "none",
	"endOfLine": "auto",
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",

	"importOrder": [
		"^(react/(.*)$)|^(react$)|^(react-(.*)$)",
		"^(next/(.*)$)|^(next$)|^(next-(.*)$)",
		"^(@next)/(.*)$",
		"",
		"^(@radix-ui)/(.*)$",
		"^(@tanstack)/(.*)$",
		"^(zustand/(.*)$)|^(zustand$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/types",
		"^@/config",
		"^@/constants",
		"",
		"^@/providers",
		"^@/layouts",
		"",
		"^@/stores",
		"^@/schemas",
		"^@/services",
		"^@/hooks",
		"^@/lib",
		"^@/utils",
		"",
		"^@/components",
		"^@/shared",
		"^@/ui",
		"^@/widgets",
		"^@/features",
		"^@/skeletons",
		"",
		"^@/icons",
		"^@/img",
		"^@/data",
		"",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,

	"plugins": [
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"tailwindStylesheet": "./src/app/globals.css",
	"tailwindFunctions": ["clsx", "cva"]
}
